
/* Style Reset */

/* Main */

body {
    margin: 0;
    font-family: "IBM Plex Serif", serif;
    background-color: #4A4E69;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}

header, footer {
    background-color: #22223B;
    padding: 20px;
    text-align: center;
}

header {
    top: 0;
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    place-items: center;
}

footer {
    bottom: 0;
    width: 100%;
    position: fixed;
}

/* Media Query - Tablet Targetting */


/* Media Query - Phone Targetting */


