/* Style Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* Main */

body {
    margin: 0;
    font-family: "IBM Plex Serif", serif;
    background-color: #4A4E69;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}

header, footer {
    background-color: #22223B;
    padding: 20px;
    text-align: center;
}

header {
    top: 0;
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    place-items: center;
}

footer {
    bottom: 0;
    width: 100%;
    position: fixed;
}

main {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
    background-color: #575f7c;
}

h2, h3 {
    font-weight: 600;
}

#quiz-question{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr));
    gap: 20px;
    place-items: center;
    text-align: center;
    background-color: #656e8d;
}

#quiz-question p {
    font-size: 16px;
}

#quiz-content {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

#answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.answer {
    background-color: #656e8d;
    padding: 20px;
    display: grid;
    place-items: center;
}

#score-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#scores {
    display: grid;
    gap: 10px;
}

.score {
    background-color: #656e8d;
    padding: 10px;
    display: grid;
    place-items: center;
}

.score h3 {
    margin-top: 0;
    
}

.score p {
    padding: 20px;
}

#mascot {
    background-color: #656e8d;
    padding: 20px;
    display: grid;
    gap: 10px;
    place-items: center;
}

#mascot img {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}

#quiz-utility {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color:#575f7c;
    padding: 0px 20px 20px 20px;
}

.utilities {
    display: grid;
    gap: 10px;
    background-color:#656e8d;
}

.utility {
    padding: 10px;
    display: grid;
    place-items: center;
    text-align: center;
}

.correct {
    background-color: #217961 !important;
  }
  
.incorrect {
      background-color: #b72d3a !important;
  }

/* Media Query - Tablet Targetting */


/* Media Query - Phone Targetting */


